// compileNested, nestedFilenamePattern: become.css
// sourceMap: true

// COLOR
$green: #22ae4c;
$dark-green: #0b712a;
$light-grey: #999999;
$dark-grey: #666666;

// FONTS
@font-face {
  font-family: 'UTMAvo';
  src: url('../fonts/UTMAvo.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMAvo.woff') format('woff'), url('../fonts/UTMAvo.ttf')  format('truetype'), url('../fonts/UTMAvo.svg#UTMAvo') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMAvoBold';
  src: url('../fonts/UTMAvoBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMAvoBold.woff') format('woff'), url('../fonts/UTMAvoBold.ttf')  format('truetype'), url('../fonts/UTMAvoBold.svg#UTMAvoBold') format('svg');
  font-weight: bold;
  font-style: bold;
}

// GENERAL
body {
  max-width: 480px;
  margin: 0 auto;
  font-family: 'UTMAvo', sans-serif;
  font-weight: normal;
  color: $dark-grey;
}

h1, h2 {
  font-family: 'UTMAvoBold', sans-serif;
  font-weight: bold;
  margin: 10px 0;
}

h3, h4, p, input, select {
  font-family: 'UTMAvo', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  margin: 10px 0;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0;
}

p, span {
  line-height: 22px;
}

// HEADER
#header {
  position: relative;
}

.header {
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 18px;
}

// FORM
#register {
  margin-top: 30px;
  color: $green;
  position: relative;
  h3 {
    padding-left: 20px;
  }
}
.register {
  width: (400/480) * 100%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: normal;
  color: $light-grey;
  input, select {
    width: 100%;
    padding: 25px 10px;
    margin-top: 45px;
    border: none;
    border-bottom: 1px solid $dark-grey;
    outline: none;
  }

  select {
    background: transparent;
  }

  input[type="checkbox"] {
    display: inline;
    width: 15px;
  }

  span {
    color: $green;
  }

  .submit {
    background-color: $green;
    border-radius: 15px;
    font-size: 30px;
    font-family: 'UTMAvoBold',sans-serif;
    font-weight: bold;
    color: white;
    border: none;
  }
}

// BENEFIT
#benefit {
  position: relative;
  margin-top: 90px;
  h1 {
    color: $green;
    text-align: center;
  }
}

.wrapper {
  width: (400/480) * 100%;
  margin: 0 auto;
}

.benefit {
  margin-top: 55px;
  display: flex;
  width: 100%;
  align-items: center;
  .icons {
    width: 30%;
    text-align: center;
    img {
      margin: 0 auto;
    }
  }

  p {
    width: 70%;
    padding: 10px 0 0 35px;
  }
}

// PROCESS
#process {
  @extend #benefit;
}

.process {
  position: relative;
  width: (430/480) * 100%;
  margin: 0 auto;
  .treeline {
    position: absolute;
    top: 30px;
    left: 27px;
    width: 6px;
    height: 350px;
    background-color: $dark-green;
    z-index: -1;
  }
}

.step {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 55px;
  .number {
    width: (60/430) * 100%;
  }
  p {
    width: (370/430) * 100%;
    padding-left: 20px;
    margin: 0;
  }
}

// FOOTER
#footer {
  margin-top: 90px;
  text-align: center;
  color: white;
}

.footer {
  background-color: $green;
  width: 100%;
  padding-bottom: 5px;
  .info {
    width: 90%;
    margin: 0 auto;
  }
  img {
    margin: 40px 0 25px 0;
  }

  h4 {
    margin: 30px auto;
  }

  h3 {
    margin-bottom: 30px;
  }
}

.copyright {
  width: 100%;
  background-color: $dark-green;
  padding: 30px 0;
  font-size: 14px;
  line-height: 20px;
}
