@font-face {
  font-family: 'UTMAvo';
  src: url("../fonts/UTMAvo.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMAvo.woff") format("woff"), url("../fonts/UTMAvo.ttf") format("truetype"), url("../fonts/UTMAvo.svg#UTMAvo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UTMAvoBold';
  src: url("../fonts/UTMAvoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UTMAvoBold.woff") format("woff"), url("../fonts/UTMAvoBold.ttf") format("truetype"), url("../fonts/UTMAvoBold.svg#UTMAvoBold") format("svg");
  font-weight: bold;
  font-style: bold; }

body {
  max-width: 480px;
  margin: 0 auto;
  font-family: 'UTMAvo', sans-serif;
  font-weight: normal;
  color: #666666; }

#header {
  width: 100%;
  height: 250px;
  background-color: #22ae4c;
  display: table; }
  #header h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    vertical-align: middle;
    display: table-cell; }

#content {
  padding: 30px 20px 0 20px; }
  #content .space {
    margin: 30px 0;
    border: 1px solid #e6e6e6; }
  #content h2 {
    font-size: 1.5em;
    font-weight: 600;
    font-weight: 2.4em;
    color: #444;
    padding-bottom: 15px; }
  #content p {
    font-size: 1em;
    line-height: 1.5em; }
  #content li {
    list-style-type: square;
    margin-bottom: 15px;
    font-size: 1em;
    line-height: 1.5em; }

#footer {
  margin-top: 90px;
  text-align: center;
  color: white; }

.footer {
  background-color: #22ae4c;
  width: 100%;
  padding-bottom: 5px; }
  .footer .info {
    width: 90%;
    margin: 0 auto; }
  .footer img {
    margin: 40px 0 25px 0; }
  .footer h4 {
    font-size: 18px;
    line-height: 24px;
    margin: 30px auto; }
  .footer h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px; }

.copyright {
  width: 100%;
  background-color: #0b712a;
  padding: 30px 0;
  font-size: 14px;
  line-height: 20px; }
